<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <!--读取数据库连接配置  -->
   <!-- <context:property-placeholder location="classpath:properties/db.properties"/>-->
    <!--数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
<!--        ?useUnicode=true&amp;characterEncoding=gbk&amp;zeroDateTimeBehavior=convertToNull-->
        <property name="url" value="jdbc:mysql://localhost:3306/u3_practice2" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean>
    <!-- 在spring容器配置一个SqlSessonFactory  mybatis-spring支持来提供的，它实现SqlSessionFactory接-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
        <property name="typeAliasesPackage" value="com.kgc.entity"/>
    </bean>

    <!--mybatis-spring框架会将com.kgc.dao下接口来生成一个实现类  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- dao接口的包-->
        <property name="basePackage" value="com.kgc.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!-- spring提供的一个事务管理器 -->
    <!-- 配置事务管理  aop切面类  开始事务  与提交事务 -->
    <bean id="transactionManager"
                  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
</bean>
    <!-- 事务传播特性 -->
    <!-- 配置事务通知 定义事务的传播特性-->
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    <!-- 配置切面 -->
    <!--表示那些包下面那类，这些类那方法配置增加事务管理  -->
    <aop:config>
        <!--给业务层的每一个方法增加事务管理功能 -->
        <aop:pointcut id="mycut" expression="execution(* com.kgc.service.impl.*.*(..))" />
        <aop:advisor pointcut-ref="mycut"   advice-ref="transactionAdvice" />
    </aop:config>

</beans>