<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.GoodtypeMapper">
  <resultMap id="BaseResultMap" type="com.kgc.entity.Goodtype">
    <constructor>
      <idArg column="goodType_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goodType_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goodType_id, goodType_name
  </sql>
  <select id="selectByExample" parameterType="com.kgc.entity.GoodtypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodtype
    where goodType_id = #{goodtypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodtype
    where goodType_id = #{goodtypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.entity.GoodtypeExample">
    delete from goodtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.entity.Goodtype">
    insert into goodtype (goodType_id, goodType_name)
    values (#{goodtypeId,jdbcType=INTEGER}, #{goodtypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.entity.Goodtype">
    insert into goodtype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodtypeId != null">
        goodType_id,
      </if>
      <if test="goodtypeName != null">
        goodType_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodtypeId != null">
        #{goodtypeId,jdbcType=INTEGER},
      </if>
      <if test="goodtypeName != null">
        #{goodtypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.entity.GoodtypeExample" resultType="java.lang.Long">
    select count(*) from goodtype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodtype
    <set>
      <if test="record.goodtypeId != null">
        goodType_id = #{record.goodtypeId,jdbcType=INTEGER},
      </if>
      <if test="record.goodtypeName != null">
        goodType_name = #{record.goodtypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodtype
    set goodType_id = #{record.goodtypeId,jdbcType=INTEGER},
      goodType_name = #{record.goodtypeName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.entity.Goodtype">
    update goodtype
    <set>
      <if test="goodtypeName != null">
        goodType_name = #{goodtypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where goodType_id = #{goodtypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.entity.Goodtype">
    update goodtype
    set goodType_name = #{goodtypeName,jdbcType=VARCHAR}
    where goodType_id = #{goodtypeId,jdbcType=INTEGER}
  </update>
</mapper>